{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

    {% block body %}
        <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 10px;">
                        <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Admin</h1>
                    </div>
                    <div class="col" style="padding: 0;">
                        <div class="overflowScroll" style="max-height: 30vh;">
                            {% for admin in admins %}
                            <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 5px;padding-left: 0;padding-right: 0;">
                            
                                <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;padding-bottom: 0;">
                                    <div class="row">
                                        <div class="col-12 col-md-8 col-lg-12">
                                            <div class="row">
                                            {# ImagePath in source #}
                                                <div class="col-3 col-lg-4" style="padding-right: 5px;margin-bottom: 10px;"><img class="rounded-circle" src="assets/img/PHOTO-2018-01-28-13-45-52.jpg" width="55px" height="55px" style="margin-left: 5px;"></div>
                                                <div class="col" style="padding-left: 0px;">
                                                    <p class="text-truncate text-light" style="font-size: 18px;font-weight: 500;margin-left: 5px;margin-top: 18px;margin-bottom: 10px;">{{ admin.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-12">
                                            <div class="row" style="width: 100%;margin: 0px;">
                                                <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;margin-bottom: 20px;">
                                                    <div class="mx-auto filterBtns" style="background-color: #ff7675;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-user-times d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 10px;">
                        <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Banned</h1>
                    </div>
                    <div class="col" style="padding: 0;">
                        <div class="overflowScroll" style="max-height: 30vh;">
                            {% for bannedProfile in bannedProfiles %}
                            <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 5px;padding-left: 0;padding-right: 0;">
                            
                                <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;padding-bottom: 0;">
                                    <div class="row">
                                        <div class="col-12 col-md-8 col-lg-12">
                                            <div class="row">
                                            {# ImagePath in source #}
                                                <div class="col-3 col-lg-4" style="padding-right: 5px;margin-bottom: 10px;"><img class="rounded-circle" src="assets/img/PHOTO-2018-01-28-13-45-52.jpg" width="55px" height="55px" style="margin-left: 5px;"></div>
                                                <div class="col" style="padding-left: 0px;">
                                                    <p class="text-truncate text-light" style="font-size: 18px;font-weight: 500;margin-left: 5px;margin-top: 18px;margin-bottom: 10px;">{{ bannedProfile.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-12">
                                            <div class="row" style="width: 100%;margin: 0px;">
                                                <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;margin-bottom: 20px;">
                                                    <div class="mx-auto filterBtns" style="background-color: #ff7675;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-user-times d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row" style="width: 100%;margin-left: 0;">
                    <div class="col-12 mx-auto" style="padding-top: 5px;">
                        <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Users</h1>
                    </div>
                    <div class="col-12 mx-auto" style="margin-top: 12px;padding-right: 0px;padding-left: 0px;margin-bottom: 50px;">
                        <div class="answerTxtBox" style="width: 98%;margin-bottom: 10px;background-color: #ffffff;"><i class="la la-search" style="font-size: 18px;margin-left: 15px;"></i><input type="text" class="answerTxt" style="height: 50px;padding-left: 15px;padding-right: 15px;width: 85%;"></div>
                    </div>
                    <div class="col-12 sendBtnCol thumbsHover" style="margin-bottom: 10px;"><a class="btn btn-primary btn-block btn-lg answerBtn" role="button" href="" style="height: 50px;font-family: Quicksand, sans-serif;font-weight: 700;width: 100%;padding-top: 10px;background-color: #252525;">Search</a></div>
                    <div class="col"
                        style="padding: 0;">
                        <div class="overflowScroll" style="max-height: 45vh;">
                            {% for allProfile in allProfiles %}
                            <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 5px;padding-left: 0;padding-right: 0;">
                            
                                <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;padding-bottom: 0;">
                                    <div class="row">
                                        <div class="col-12 col-md-8 col-lg-12">
                                            <div class="row">
                                                <div class="col-3 col-lg-4" style="padding-right: 5px;margin-bottom: 10px;">
                                                {# imagePath in src #}
                                                <img class="rounded-circle" src="assets/img/PHOTO-2018-01-28-13-45-52.jpg" width="55px" height="55px" style="margin-left: 5px;"></div>
                                                <div class="col" style="padding-left: 0px;">
                                                    <p class="text-truncate text-light" style="font-size: 18px;font-weight: 500;margin-left: 5px;margin-top: 18px;margin-bottom: 10px;">{{ allProfile.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-12">
                                            <div class="row" style="width: 100%;margin: 0px;">
                                                <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;">
                                                    <div class="mx-auto filterBtns" style="background-color: #55efc4;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-user-plus d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                </div>
                                                <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;margin-bottom: 20px;">
                                                    <div class="mx-auto filterBtns" style="background-color: #ff7675;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-ban d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 10px;">
                        <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Reported</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item"><a class="nav-link text-light active thumbsHover" role="tab" data-toggle="pill" href="#riddlesTab">Riddles</a></li>
                                <li class="nav-item"><a class="nav-link text-light thumbsHover" role="tab" data-toggle="pill" href="#answersTab">Answers</a></li>
                                <li class="nav-item"><a class="nav-link text-light thumbsHover" role="tab" data-toggle="pill" href="#commentsTab">Comments</a></li>
                            </ul>
                            <div class="tab-content overflowScroll" style="max-height: 90vh;">
                                <div class="tab-pane active" role="tabpanel" id="riddlesTab" style="padding-top: 10px;">
                                     {% for reportedRiddle in reportedRiddles %}
                                    <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 5px;padding-left: 0;padding-right: 0;">
                                   
                                        <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;padding-bottom: 0;">
                                            <div class="row">
                                                <div class="col-12 col-md-10">
                                                    <div class="row">
                                                        <div class="col-auto" style="padding-right: 5px;">
                                                            <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{reportedRiddle.date}}</p>
                                                        </div>
                                                        <div class="col" style="padding-left: 0px;">
                                                            <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">{% for profileReported in profilesReported %}{% if profileReported.id == reportedRiddle.profileId.id %}{{ profileReported.name }}{% endif %}{% endfor %}</p>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="text-white overflowScroll" style="max-height: 110px;margin-bottom: 0;font-family: Roboto, sans-serif;">{{ reportedRiddle.question }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2">
                                                    <div class="row" style="width: 100%;margin: 0px;">
                                                        <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;">
                                                            <div class="mx-auto filterBtns" style="background-color: #55efc4;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-circle d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                        </div>
                                                        <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;margin-bottom: 20px;">
                                                            <div class="mx-auto filterBtns" style="background-color: #ff7675;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-trash d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane" role="tabpanel" id="answersTab" style="padding-top: 10px;">
                                    {% for reportedAnswer in reportedAnswers %}
                                    <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 5px;padding-left: 0;padding-right: 0;">
                                        
                                    
                                        <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;padding-bottom: 0;">
                                            <div class="row">
                                                <div class="col-12 col-md-10">
                                                    <div class="row">
                                                        <div class="col-auto" style="padding-right: 5px;">
                                                            <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ reportedAnswer.time }}</p>
                                                        </div>
                                                        <div class="col" style="padding-left: 0px;">
                                                            <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">{% for profileReported in profilesReported %}{% if profileReported.id == reportedAnswer.profileId.id %}{{ profileReported.name }}{% endif %}{% endfor %}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="text-white overflowScroll" style="max-height: 110px;margin-bottom: 0;font-family: Roboto, sans-serif;">{{ reportedAnswer.answerTxt }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2">
                                                    <div class="row" style="width: 100%;margin: 0px;">
                                                        <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;">
                                                            <div class="mx-auto filterBtns" style="background-color: #55efc4;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-circle d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                        </div>
                                                        <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;margin-bottom: 20px;">
                                                            <div class="mx-auto filterBtns" style="background-color: #ff7675;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-trash d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane" role="tabpanel" id="commentsTab" style="padding-top: 10px;">
                                    {% for reportedComment in reportedComments %}
                                    <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 5px;padding-left: 0;padding-right: 0;">
                                        
                                        <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;padding-bottom: 0;">
                                            <div class="row">
                                                <div class="col-12 col-md-10">
                                                    <div class="row">
                                                        <div class="col-auto" style="padding-right: 5px;">
                                                            <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ reportedComment.time }}</p>
                                                        </div>
                                                        <div class="col" style="padding-left: 0px;">
                                                            <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">{% for profileReported in profilesReported %}{% if profileReported.id == reportedComment.profileId.id %}{{ profileReported.name }}{% endif %}{% endfor %}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="text-white overflowScroll" style="max-height: 110px;margin-bottom: 0;font-family: Roboto, sans-serif;">{{ reportedComment.commentTxt }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2">
                                                    <div class="row" style="width: 100%;margin: 0px;">
                                                        <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;">
                                                            <div class="mx-auto filterBtns" style="background-color: #55efc4;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-circle d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                        </div>
                                                        <div class="col-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;margin-top: 5px;margin-bottom: 20px;">
                                                            <div class="mx-auto filterBtns" style="background-color: #ff7675;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-trash d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}