{% extends "base.html.twig" %}

{% block title %}Answers{% endblock %}

{% block navigation %}{% endblock %}

{% block bodyStyling %}style="background-image: url(../assets/img/{{ riddle.icon }}_pattern.svg);background-position: center;background-size: 600px;"{% endblock %}

{% block body %}
<div class="container" style="padding-right: 0;padding-left: 0;">
        <div class="row">
            <div class="col-12 col-md-5 col-xl-4" id="sidebar">
                <div class="container">
                    <div class="row backBlock" style="height: 60px;">
                        <div class="col-2 thumbsHover" style="margin: 0;padding-top: 16px;padding-left: 25px;"><a href="/discover"><i class="la la-chevron-circle-left d-table" style="font-size: 36px;color: #dfe6e9;margin: auto;"></i></a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding: 15px;">
                        <div class="row">
                            <div class="col"><img class="d-table mx-auto" src="../assets/img/{{ riddle.icon }}.svg" height="80px"></div>
                        </div>
                        <div class="row" style="padding-top: 2vh;">
                            <div class="col">
                                <h5 class="text-center text-light" style="font-family: Roboto, sans-serif;">{{ profile.name }}</h5>
                                <h6 class="text-center text-light" style="font-family: Roboto, sans-serif;font-weight: 300;">{{ riddle.date }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="margin-top: 10px;">
                                <div class="row" style="margin-left: 0;margin-right: 0;">
                                    <div class="col-12 riddleStateCard" style="padding: 0px; border-color: {{ riddle.colour }};">
                                        <div data-bs-parallax-bg="true" style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 300px;">
                                            <div class="row" style="width: 100%;margin: 0px;">
                                                <div class="col-12" style="padding-top: 15px;padding-bottom: 20px;padding-left: 10px;padding-right: 10px;">
                                                    <h4 class="text-center text-white riddleTextScroll" style="font-family: Quicksand, sans-serif;font-size: 20px;max-height: 265px;">{{ riddle.question }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filterBg riddleStateCard" style="padding-bottom: 1px;margin-top: 20px;"><a class="btn btn-outline-link btn-block btn-sm thumbsHover" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-A" role="button" href="#collapse-A" style="color: rgb(254,254,254);font-family: Roboto, sans-serif;font-weight: 300;font-size: 20px;">Answer<i class="la la-chevron-circle-down" style="color: rgb(255,255,255);font-size: 20px;margin-left: 5px;"></i></a>
                                    <div
                                        class="collapse" id="collapse-A">
                                        <div class="col" style="padding: 0px;">
                                            <div data-bs-parallax-bg="true" style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 300px;">
                                                <div class="row" style="width: 100%;margin: 0px;">
                                                    <div class="col-12" style="padding-top: 15px;padding-bottom: 20px;padding-left: 15px;padding-right: 20px;">
                                                        <h4 class="text-center text-light riddleTextScroll" style="font-family: Quicksand, sans-serif;max-height: 265px;font-size: 20px;">{{ riddle.correctAnswer }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width: 100%;margin: 0px;padding-left: 20%;padding-right: 20%;margin-top: 25px;">
                        <div id="likeRiddle" value="{{ riddle.id }}" class="col-auto ml-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-up" style="color: #ffffff;font-size: 28px;font-weight: 700;"></i>
                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ riddle.likes }}</p>
                        </div>
                        <div id="dislikeRiddle" value="{{ riddle.id }}" class="col-auto mx-auto thumbsHover" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-down" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i>
                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ riddle.dislikes }}</p>
                        </div>
                        <div value="{{ riddle.id }}" class="col-auto mr-auto thumbsHover reportRiddle" style="padding-right: 5px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-6" style="padding-left: 0;">
            <div class="container">
                <div class="row" style="margin-bottom: 20px;margin-left: 0;">
                    <div class="col mx-auto" style="padding-top: 5px;padding-bottom: 10px;">
                        <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Answers</h1>
                    </div>
                    {% for answer in answers %}
                    {% if riddle.id == answer.riddleId.id %}
                    {% if user.id == answer.profileId.id %}
                    <div class="col-12 col-xl-10 mx-auto" data-aos="zoom-in" style="padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;">
                        <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;">
                            <div class="row">
                                <div class="col-auto" style="padding-right: 5px;">
                                    <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ answer.time }}</p>
                                </div>
                                <div class="col" style="padding-left: 0px;">
                                    <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">Me</p>
                                </div>
                                
                                {% if answer.correct == true %}
                                    <div class="col-auto correctTag" style="padding-left: 0px;">
                                        <p style="color: #55efc4;border-style: solid;border-radius: 10px;border-width: 2px;padding: 4px;padding-left: 8px;padding-right: 8px;font-family: Roboto, sans-serif;font-weight: 500;"><i class="la la-check" style="font-weight: bold;"></i> Correct </p>
                                    </div>
                                {% endif %}
                                {% if answer.correct is null %}
                                {% if answer.correct == false %}
                                    
                                {% endif %}
                                {% elseif answer.correct == false %}
                                    <div class="col-auto incorrectTag" style="padding-left: 0px;">
                                        <p style="color: #ff7675;border-style: solid;border-radius: 10px;border-width: 2px;padding: 4px;padding-left: 8px;padding-right: 8px;font-family: Roboto, sans-serif;font-weight: 500;"><i class="la la-close" style="font-weight: bold;"></i> Incorrect </p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-white">{{ answer.answerTxt }}</p>
                                </div>
                            </div>
                            <div class="row" style="width: 100%;margin: 0px;">
                                <div class="col-auto" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-up" style="color: #ffffff;font-size: 28px;font-weight: 700;"></i>
                                    <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ answer.likes }}</p>
                                </div>
                                <div class="col-auto" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-down" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i>
                                    <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ answer.dislikes }}</p>
                                </div>
                            
                                <div class="col"></div>
                            <div value="{{ answer.id }}" class="col-auto thumbsHover reportAnswer" style="padding-right: 15px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i></div>
                        </div>
                        <div class="row" style="width: 100%;margin: 0px;margin-top: 10px;">
                            <div class="col" style="padding: 0;">
                                <div class="filterBg answerRiddleCardItem2" style="padding-bottom: 1px;"><a class="btn btn-outline-link btn-block btn-sm thumbsHover" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-{{ answer.id }}" role="button" href="#collapse-{{ answer.id }}" style="color: rgb(254,254,254);font-family: Roboto, sans-serif;font-weight: 300;font-size: 20px;">Comments<i class="la la-chevron-circle-down" style="color: rgb(255,255,255);font-size: 20px;margin-left: 5px;"></i></a>
                                    <div class="collapse" id="collapse-{{ answer.id }}">
                                        <div class="row" style="padding-left: 15px;padding-right: 15px;">
                                            <div class="col-12 sendBtnCol thumbsHover" style="padding-right: 25px;padding-left: 25px;"><a class="btn btn-dark btn-block btn-lg" role="button" href="/createComment/{{ answer.id }}" style="height: 50px;font-family: Quicksand, sans-serif;border-style: none;border-radius: 10px;font-weight: 700;width: 100%;background-color: {{ riddle.colour }};padding-top: 10px;"><i class="la la-pencil"></i></a></div>
                                        </div>
                                        <div class="row overflowScroll" style="max-height: 50vh;padding-right: 20px;padding-left: 20px;">
                                            {% for comment in comments %}
                                            {% if answer.id == comment.answerId.id %}
                                            {% if profile.id == comment.profileId.id %}
                                            <div class="col-12" style="padding: 0px;margin-top: 5px;">
                                                <div style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 300px;">
                                                    <div class="row">
                                                        <div class="col-auto" style="padding-right: 5px;">
                                                            <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ comment.time }}</p>
                                                        </div>
                                                        <div class="col" style="padding-left: 0px;">
                                                            <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">Me</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        {% if comment.isGif == true %}
                                                        <div class="col overflowScroll" style="max-height: 50vh;">
                                                            <img src="{{ comment.commentTxt }}" width="100%" />
                                                        {% else %}    
                                                        <div class="col overflowScroll" style="max-height: 20vh;">
                                                            <p class="text-white">{{ comment.commentTxt }}</p>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row" style="width: 100%;margin: 0px;">
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover likeComment" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-up" style="color: #ffffff;font-size: 28px;font-weight: 700;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.likes }}</p>
                                                        </div>
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover dislikeComment" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-down" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.dislikes }}</p>
                                                        </div>
                                                        <div class="col"></div>
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover reportComment" style="padding-right: 15px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            {% for comment in comments %}
                                            {% if answer.id == comment.answerId.id %}
                                            {% if profile.id != comment.profileId.id %}
                                            <div class="col-12" style="padding: 0px;margin-top: 5px;">
                                                <div style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 300px;">
                                                    <div class="row">
                                                        <div class="col-auto" style="padding-right: 5px;">
                                                            <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ comment.time }}</p>
                                                        </div>
                                                        <div class="col" style="padding-left: 0px;">
                                                            <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">{{ comment.profileId.name }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        {% if comment.isGif == true %}
                                                        <div class="col overflowScroll" style="max-height: 50vh;">
                                                            <img src="{{ comment.commentTxt }}" width="100%" />
                                                        {% else %}    
                                                        <div class="col overflowScroll" style="max-height: 20vh;">
                                                            <p class="text-white">{{ comment.commentTxt }}</p>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row" style="width: 100%;margin: 0px;">
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover likeComment" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-up" style="color: #ffffff;font-size: 28px;font-weight: 700;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.likes }}</p>
                                                        </div>
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover dislikeComment" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-down" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.dislikes }}</p>
                                                        </div>
                                                        <div class="col"></div>
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover reportComment" style="padding-right: 15px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}    
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
                    {% for answer in answers  | sortbyfield('time') | reverse%}
                    {% if riddle.id == answer.riddleId.id %}
                    {% if user.id != answer.profileId.id %}
                    <div class="col-12 col-xl-10 mx-auto" data-aos="zoom-in" style="padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;">
                        <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;">
                            <div class="row">
                                <div class="col-auto" style="padding-right: 5px;">
                                    <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ answer.time }}</p>
                                </div>
                                <div class="col" style="padding-left: 0px;">
                                    <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">{{ answer.profileId.name }}</p>
                                </div>
                                {% if answer.correct == true %}
                                    <div class="col-auto correctTag" style="padding-left: 0px;">
                                        <p style="color: #55efc4;border-style: solid;border-radius: 10px;border-width: 2px;padding: 4px;padding-left: 8px;padding-right: 8px;font-family: Roboto, sans-serif;font-weight: 500;"><i class="la la-check" style="font-weight: bold;"></i> Correct </p>
                                    </div>
                                {% endif %}
                                {% if answer.correct is null %}
                                {% if answer.correct == false %}
                                    
                                {% endif %}
                                {% elseif answer.correct == false %}
                                    <div class="col-auto incorrectTag" style="padding-left: 0px;">
                                        <p style="color: #ff7675;border-style: solid;border-radius: 10px;border-width: 2px;padding: 4px;padding-left: 8px;padding-right: 8px;font-family: Roboto, sans-serif;font-weight: 500;"><i class="la la-close" style="font-weight: bold;"></i> Incorrect </p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-white">{{ answer.answerTxt }}</p>
                                </div>
                            </div>
                            <div class="row" style="width: 100%;margin: 0px;">
                                <div value="{{ answer.id }}" class="col-auto thumbsHover likeAnswer" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-up" style="color: #ffffff;font-size: 28px;font-weight: 700;"></i>
                                    <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ answer.likes }}</p>
                                </div>
                                <div value="{{ answer.id }}"  class="col-auto thumbsHover dislikeAnswer" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-down" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i>
                                    <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ answer.dislikes }}</p>
                                </div>
                            
                                <div class="col"></div>
                            <div value="{{ answer.id }}" class="col-auto thumbsHover reportAnswer" style="padding-right: 15px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i></div>
                        </div>
                        <div class="row" style="width: 100%;margin: 0px;margin-top: 10px;">
                            <div class="col" style="padding: 0;">
                                <div class="filterBg answerRiddleCardItem2" style="padding-bottom: 1px;"><a class="btn btn-outline-link btn-block btn-sm thumbsHover" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-{{ answer.id }}" role="button" href="#collapse-{{ answer.id }}" style="color: rgb(254,254,254);font-family: Roboto, sans-serif;font-weight: 300;font-size: 20px;">Comments<i class="la la-chevron-circle-down" style="color: rgb(255,255,255);font-size: 20px;margin-left: 5px;"></i></a>
                                    <div class="collapse" id="collapse-{{ answer.id }}">
                                        <div class="row" style="padding-left: 15px;padding-right: 15px;">
                                            <div class="col-12 sendBtnCol thumbsHover" style="padding-right: 25px;padding-left: 25px;"><a class="btn btn-dark btn-block btn-lg" role="button" href="/createComment/{{ answer.id }}" style="height: 50px;font-family: Quicksand, sans-serif;border-style: none;border-radius: 10px;font-weight: 700;width: 100%;background-color: {{ riddle.colour }};padding-top: 10px;"><i class="la la-pencil"></i></a></div>
                                        </div>
                                        <div class="row overflowScroll" style="max-height: 50vh;padding-right: 20px;padding-left: 20px;">
                                            {% for comment in comments %}
                                            {% if answer.id == comment.answerId.id %}
                                            {% if profile.id == comment.profileId.id %}
                                            <div class="col-12" style="padding: 0px;margin-top: 5px;">
                                                <div style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 300px;">
                                                    <div class="row">
                                                        <div class="col-auto" style="padding-right: 5px;">
                                                            <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ comment.time }}</p>
                                                        </div>
                                                        <div class="col" style="padding-left: 0px;">
                                                            <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">Me</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        {% if comment.isGif == true %}
                                                        <div class="col overflowScroll" style="max-height: 50vh;">
                                                            <img src="{{ comment.commentTxt }}" width="100%" />
                                                        {% else %}    
                                                        <div class="col overflowScroll" style="max-height: 20vh;">
                                                            <p class="text-white">{{ comment.commentTxt }}</p>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row" style="width: 100%;margin: 0px;">
                                                        <div class="col-auto" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-up" style="color: #ffffff;font-size: 28px;font-weight: 700;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.likes }}</p>
                                                        </div>
                                                        <div class="col-auto" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-down" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.dislikes }}</p>
                                                        </div>
                                                        <div class="col"></div>
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover reportComment" style="padding-right: 15px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            {% for comment in comments %}
                                            {% if answer.id == comment.answerId.id %}
                                            {% if profile.id != comment.profileId.id %}
                                            <div class="col-12" style="padding: 0px;margin-top: 5px;">
                                                <div style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 300px;">
                                                    <div class="row">
                                                        <div class="col-auto" style="padding-right: 5px;">
                                                            <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ comment.time }}</p>
                                                        </div>
                                                        <div class="col" style="padding-left: 0px;">
                                                            <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">{{ comment.profileId.name }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        {% if comment.isGif == true %}
                                                        <div class="col overflowScroll" style="max-height: 50vh;">
                                                            <img src="{{ comment.commentTxt }}" width="100%" />
                                                        {% else %}   
                                                        <div class="col overflowScroll" style="max-height: 20vh;"> 
                                                            <p class="text-white">{{ comment.commentTxt }}</p>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row" style="width: 100%;margin: 0px;">
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover likeComment" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-up" style="color: #ffffff;font-size: 28px;font-weight: 700;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.likes }}</p>
                                                        </div>
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover dislikeComment" style="padding-right: 20px;padding-left: 5px;"><i class="la la-thumbs-down" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i>
                                                            <p class="text-center d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ comment.dislikes }}</p>
                                                        </div>
                                                        <div class="col"></div>
                                                        <div value="{{ comment.id }}" class="col-auto thumbsHover reportComment" style="padding-right: 15px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}    
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="../assets/js/AJAX.js"></script>
    <script src="../assets/js/animation.js"></script>
{% endblock %}
