{% extends "base.html.twig" %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

<div class="modal fade" role="dialog" tabindex="-1" id="profileModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #2d3436;color: rgb(251,251,251);border:none !important;">
                        <h4 class="modal-title" style="font-family: Roboto, sans-serif;font-weight: 500;color: rgb(255,255,255);margin-top: 10px;">Edit
                            Profile</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="color:white;padding-top:25px;opacity:1 !important;"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body" style="background-color: #2d3436;">
                        <div>
                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-6 col-lg-10 col-xl-8 offset-sm-2 offset-md-3 offset-lg-1 offset-xl-2">

                                     {{ form_start(EditProfileform, {'attr': {'name':'EditProfileForm', 'novalidate': 'novalidate'}}) }}

                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <!--Profile Image Upload-->
                                        <div class="customCodeProfileImage">
                                            <label class="filebutton">
                                                <i style="margin:35%;font-size:40px;color:white;" class="la la-user-plus"></i>
                                                <span>
                                                 {# {{ form_widget(EditProfileform.image_path, {'attr': {'accept':'image/*', 'type':'file', 'id':'myfile', 'name':'editImage'}}) }} #}
                                                </span>
                                            </label>
                                        </div>
                                    </div>



                                    <div class="form-group inputRoundedBlock" style="height: 50px;">
                                        <i class="la la-user float-left" style="margin-left: 5%;margin-top: 13px;font-size: 20px;"></i>
                                        {{ form_widget(EditProfileform.name, {'attr': {'class':'form-control', 'placeholder':'Name', 'style':'height: 50px;width: 84%;border: none;'}}) }}
                                    </div>
                                    <div class="form-group inputRoundedBlock" style="height: 50px;">
                                        <i class="la la-envelope float-left" style="margin-left: 5%;margin-top: 13px;font-size: 20px;"></i>
                                        {{ form_widget(EditProfileform.email, {'attr': {'class':'form-control', 'placeholder':'Email', 'style':'height: 50px;width: 84%;border: none;'}}) }}
                                    </div>
                                    <div class="form-group inputRoundedBlock" style="height: 50px;">
                                        <i class="la la-lock float-left" style="margin-left: 5%;margin-top: 13px;font-size: 20px;"></i>
                                        {{ form_widget(EditProfileform.password, {'attr': {'class':'form-control', 'placeholder':'Password', 'style':'height: 50px;width: 84%;border: none;'}}) }}
                                    </div>
                                    <div style="margin-top: 3vh;">
                                        {{ form_widget(EditProfileform.submitEditProfile, {'attr': {'class':'btn btn-primary btn-block btn-lg', 'style':'text-align: center;font-family: Quicksand, sans-serif;background-color: rgb(0,0,0);margin-top: 5vh;height: 60px;font-size: 24px;font-weight: 500;border:none;border-radius:10px;'}}) }}
                                    </div>
                                    <div style="margin-top: 3vh;"><a class="btn btn-primary btn-block btn-lg d-block d-lg-none collapse-button changeToLogin"
                                        data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button"
                                        href="#collapse-1" style="border: none;border-radius: 15px;background-color: rgba(255,255,255,0);">Login</a>
                                        <div class="collapse d-none" id="collapse-1"></div>
                                    </div>


                                
                                {{ form_end(EditProfileform) }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><button class="btn btn-primary showModal" type="button">Edit Profile</button>

        {% endblock %}