{% extends "base.html.twig" %}

{% block title %}My Riddles{% endblock %}
{% block stylesheets %}{% endblock %}

{% block MyRiddlesNav %}<i class="la la-user d-table mx-auto" style="font-size: 30px;color: white;"></i>{% endblock %}

{% block riddlingScore %}{{ profile.riddlingScore }}{% endblock %}

{% block body %}
    <div class="modal fade" role="dialog" tabindex="-1" id="chooseColourModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color: #1c1f21;padding: 25px;">
                    <div class="row" style="height: 45px;">
                        <div class="col-8">
                            <h4 class="text-light" style="font-family: Roboto, sans-serif;">Select Colour</h4>
                        </div>
                        <div class="col" style="margin-right: 10px;"><button class="btn btn-light btn-block btn-lg answerBtn riddleItem" type="button" id="okColourBtn" style="height: 40px;font-family: Quicksand, sans-serif;font-weight: 700;width: 100%;padding-top: 5px;margin-bottom: 13px;">Ok</button></div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;background-color: #55efc4;border-radius: 10px;width: auto;" value="#55efc4"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #81ecec;border-radius: 10px;" value="#81ecec"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #74b9ff;border-radius: 10px;" value="#74b9ff"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #a29bfe;border-radius: 10px;" value="#a29bfe"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #00b894;border-radius: 10px;" value="#00b894"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #00cec9;border-radius: 10px;" value="#00cec9"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #0984e3;border-radius: 10px;" value="#0984e3"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #6c5ce7;border-radius: 10px;" value="#6c5ce7"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #ffeaa7;border-radius: 10px;" value="#ffeaa7"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #fab1a0;border-radius: 10px;" value="#fab1a0"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #ff7675;border-radius: 10px;" value="#ff7675"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #fd79a8;border-radius: 10px;" value="#fd79a8"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #fdcb6e;border-radius: 10px;" value="#fdcb6e"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem selectedColour" style="height: 10vh;width: auto;background-color: #e17055;border-radius: 10px;" value="#e17055"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #d63031;border-radius: 10px;" value="#d63031"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #e84393;border-radius: 10px;" value="#e84393"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3 offset-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #b2bec3;border-radius: 10px;" value="#b2bec3"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem colourItem" style="height: 10vh;width: auto;background-color: #3f484b;border-radius: 10px;" value="#3f484b"><i class="la la-check d-table mx-auto" style="font-size: 30px;vertical-align: middle;padding-top: 3vh;font-weight: bold;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="chooseIconModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color: #1c1f21;padding: 25px;">
                    <div class="row" style="height: 45px;">
                        <div class="col-8">
                            <h4 class="text-light" style="font-family: Roboto, sans-serif;">Select Icon</h4>
                        </div>
                        <div class="col" style="margin-right: 10px;"><button class="btn btn-light btn-block btn-lg answerBtn riddleItem" type="button" id="okIconBtn" style="height: 40px;font-family: Quicksand, sans-serif;font-weight: 700;width: 100%;padding-top: 5px;margin-bottom: 13px;">Ok</button></div>
                    </div>
                    <div class="row overflowScroll" style="max-height: 90vh;">
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem selectedIcon" style="height: 10vh;border-radius: 10px;width: auto;" value="monkey">
                                <div style="background-image: url(&quot;/assets/img/monkey.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="gamepad">
                                <div style="background-image: url(&quot;/assets/img/gamepad.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="camera">
                                <div style="background-image: url(&quot;/assets/img/camera.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="heart">
                                <div style="background-image: url(&quot;/assets/img/heart.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="wine">
                                <div style="background-image: url(&quot;/assets/img/wine.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="plane">
                                <div style="background-image: url(&quot;/assets/img/plane.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="money">
                                <div style="background-image: url(&quot;/assets/img/money.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="mask">
                                <div style="background-image: url(&quot;/assets/img/mask.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="question">
                                <div style="background-image: url(&quot;/assets/img/question.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="bulldog">
                                <div style="background-image: url(&quot;/assets/img/bulldog.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="death">
                                <div style="background-image: url(&quot;/assets/img/death.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="shark">
                                <div style="background-image: url(&quot;/assets/img/shark.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="storm">
                                <div style="background-image: url(&quot;/assets/img/storm.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 10px;">
                            <div class="riddleItem iconItem" style="height: 10vh;border-radius: 10px;width: auto;background-size: auto;background-repeat: no-repeat;background-position: center;" value="rabbit">
                                <div style="background-image: url(&quot;/assets/img/rabbit.svg&quot;);background-position: center;background-repeat: no-repeat;width: 70%;height: 100%;margin-left: 15%;background-size: contain;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-8">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 10px;">
                                <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Stats</h1>
                            </div>
                            <div class="col-12 col-xl-6" style="margin-top: 10px;margin-bottom: 10px;">
                                <div class="card bg-dark" style="height: 20vh;min-height: 140px;max-height: 180px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="text-light d-inline" style="font-family: Roboto, sans-serif;font-weight: 300;">Riddling Score</h5><i class="la la-trophy d-inline-block float-right" style="color: #55efc4;font-size: 22px;"></i></div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center text-white" style="font-family: Quicksand, sans-serif;font-size: 55px;margin-top: 1vh;font-weight: 500;">{{ profile.RiddlingScore }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6" style="margin-top: 10px;margin-bottom: 10px;">
                                <div class="card bg-dark" style="height: 20vh;min-height: 140px;max-height: 180px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="text-light d-inline" style="font-family: Roboto, sans-serif;font-weight: 300;">Likes</h5><i class="la la-thumbs-up d-inline-block float-right" style="color: #55efc4;font-size: 22px;"></i></div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center text-white" style="font-family: Quicksand, sans-serif;font-size: 55px;margin-top: 16px;font-weight: 500;">
                                                {% set totalLikes = 0 %}
                                                {% for riddle in riddles %}
                                                    {% set totalLikes = riddle.likes + totalLikes %}
                                                {% endfor %} 
                                                {{ totalLikes }}   
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6" style="margin-top: 10px;margin-bottom: 10px;">
                                <div class="card bg-dark" style="height: 20vh;min-height: 140px;max-height: 180px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="text-light d-inline" style="font-family: Roboto, sans-serif;font-weight: 300;">Dislikes</h5><i class="la la-thumbs-down d-inline-block float-right" style="color: #55efc4;font-size: 22px;"></i></div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center text-white" style="font-family: Quicksand, sans-serif;font-size: 55px;margin-top: 16px;font-weight: 500;">
                                                {% set totalDislikes = 0 %}
                                                {% for riddle in riddles %}
                                                    {% set totalDislikes = riddle.dislikes + totalDislikes %}
                                                {% endfor %} 
                                                {{ totalDislikes }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6" style="margin-top: 10px;margin-bottom: 10px;">
                                <div class="card bg-dark" style="height: 20vh;min-height: 140px;max-height: 180px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="d-inline text-light" style="font-family: Roboto, sans-serif;font-weight: 300;">Amount of Riddles</h5><i class="la la-trophy d-inline-block float-right" style="color: #55efc4;font-size: 22px;"></i></div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center text-white" style="font-family: Quicksand, sans-serif;font-size: 55px;margin-top: 16px;font-weight: 500;">{{ riddles | length }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 10px;">
                        <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Riddles</h1>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12 col-xl-6" style="padding: 15px;padding-left: 30px;padding-right: 30px;">
                        <div class="row riddleItem hover">
                            <div class="col addRiddle myRiddleSelect" data-aos="zoom-in" style="padding: 0px;" value="createRid">
                                <div data-bs-parallax-bg="true" style="height: 200px;padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-image: url(assets/img/monkey_pattern.svg);background-position: center;background-size: cover;"
                                    value="createRid">
                                    <div class="row" style="width: 100%;margin: 0px;font-family: Roboto, sans-serif;font-weight: normal;">
                                        <div class="col-auto ml-auto" style="padding-right: 15px;"><i class="la la-plus-circle" style="color: #dfe6e9;font-size: 38px;"></i></div>
                                    </div>
                                    <div class="row" style="width: 100%;margin: 0px;">
                                        <div class="col-12" style="height: 85px;padding-top: 15px;padding-bottom: 20px;padding-left: 10px;margin-top: 64px;">
                                            <h3 class="text-nowrap text-truncate overflow-visible" style="color: rgb(255,255,255);font-family: Roboto, sans-serif;font-weight: 300;font-size: 28px;max-height: 38px;">New Riddle</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for riddle in riddles %}
                    <div class="col-12 col-md-6 col-lg-12 col-xl-6" style="padding: 15px;padding-left: 30px;padding-right: 30px;">
                        <div class="row riddleItem hover">
                            <div class="col riddleCard myRiddleSelect" data-aos="zoom-in" style="padding: 0px;background-color: {{ riddle.colour }};" value="{{ riddle.id }}">
                                <div data-bs-parallax-bg="true" style="height: 200px;padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-image: url(assets/img/{{ riddle.icon }}_pattern.svg);background-position: center;background-size: cover;"
                                    value="{{ riddle.id }}">
                                    <div class="row" style="width: 100%;margin: 0px;font-family: Roboto, sans-serif;font-weight: normal;">
                                        <div class="col-auto" style="padding-right: 5px;">
                                            <p style="color: rgb(255,255,255);font-size: 12px;font-weight: 300;">{{ riddle.date | date ('d M')}}</p>
                                        </div>
                                        <div class="col-auto ml-auto" style="padding-right: 15px;"><img src="../assets/img/{{ riddle.icon }}.svg" height="40px">
                                        {% set badgeCount = 0 %}
                                        {% for answer in answers %}
                                            {% if riddle.id == answer.riddleId.id %}
                                                {% set badgeCount = badgeCount + 1 %}
                                                <span class="badge badge-pill badge-danger" style="position: absolute;font-family: Roboto, sans-serif;font-size: 14px;margin-top: -15px;margin-left: -12px;">{{ badgeCount }}</span>
                                            {% endif %}
                                        {% endfor %}</div>
                                    </div>
                                    <div class="row" style="width: 100%;margin: 0px;">
                                        <div class="col-12" style="height: 85px;padding-top: 15px;padding-bottom: 20px;padding-left: 5px;">
                                            <h3 class="text-nowrap text-truncate overflow-visible" style="color: rgb(255,255,255);font-family: Quicksand, sans-serif;font-weight: 600;font-size: 28px;max-height: 38px;">{{ riddle.question }}</h3>
                                        </div>
                                    </div>
                                    <div class="row" style="width: 100%;margin: 0px;">
                                        <div class="col-auto" style="padding-right: 5px;padding-left: 5px;"><i class="material-icons" style="color: rgba(255,255,255,0.65);font-size: 18px;">thumb_up</i>
                                            <p class="d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ riddle.likes }}</p>
                                        </div>
                                        <div class="col-auto" style="padding-right: 5px;padding-left: 5px;"><i class="material-icons" style="color: rgba(255,255,255,0.65);font-size: 18px;">thumb_down</i>
                                            <p class="d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">{{ riddle.dislikes }}</p>
                                        </div>
                                        <div class="col-auto" style="padding-right: 5px;padding-left: 5px;"><i class="material-icons" style="color: rgba(255,255,255,0.65);font-size: 18px;">comment</i>
                                            <p class="d-table" style="color: rgba(255,255,255,0.85);width: 50%;font-weight: 500;font-family: Roboto, sans-serif;margin: auto;margin-top: -5px;font-size: 12px;">
                                            {%  set answerCount = 0 %}
                                        {% for answerAll in answersAll %}
                                            {% if riddle.id == answerAll.riddleId.id %}
                                                {%  set answerCount = answerCount + 1 %}
                                            {% endif %}
                                        {% endfor %}{{ answerCount }}
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-9 col-lg-6 col-xl-4" id="displayCol" style="padding: 0;">
                <div style="width: 100%;height: 100vh;">
                    <div class="col-12 col-sm-9 col-md-10 col-lg-4 col-xl-3 fixedDisplayCol" style="background-color: #2d3436;">
                        <div id="createRid" class="invisible">
                            <div class="row d-lg-none backBlock" style="height: 60px;">
                                <div class="col-2 thumbsHover" style="margin: 0;padding-top: 10px;padding-left: 25px;"><i class="la la-chevron-circle-left d-table closeAnswersIcon" style="font-size: 36px;color: #dfe6e9;margin: auto;"></i></div>
                            </div>
                            {{ form_start(form, {'attr': {'name':'CreateRiddleForm'}}) }}
                            <div class="row">
                                <div class="col-12 d-none d-lg-block mx-auto" style="padding-top: 5px;padding-bottom: 10px;margin-bottom: 10px;">
                                    <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Create</h1>
                                </div>
                                <div class="col-12">
                                    <div class="row" style="margin-left: 0;margin-right: 0;">
                                        <div class="col-12 riddleStateCard" style="padding: 0px;">
                                            <div data-bs-parallax-bg="true" style="padding-top: 20px;padding-bottom: 5px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 130px;">
                                                <h6 class="text-light" style="margin-top: -10px;font-family: Roboto, sans-serif;margin-left: 5px;">Riddle</h6>
                                                <div class="row" style="width: 100%;margin: 0px;">
                                                    <div class="col" style="padding: 0;">{{ form_widget(form.question, {'attr': {'class':'rTextArea', 'placeholder':'Enter Riddle Here', 'style':'width: 100%;height: 60px;padding: 5px;padding-left: 8px;color: rgb(232,232,232);font-family: Roboto, sans-serif;background-color: transparent;max-height: 80px;'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 15px;">
                                        <div class="col-12 answerRiddleCardItem" style="padding: 0px;">
                                            <div data-bs-parallax-bg="true" style="padding-top: 20px;padding-bottom: 5px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 125px;">
                                                <h6 class="text-light" style="margin-top: -10px;font-family: Roboto, sans-serif;margin-left: 5px;">Answer</h6>
                                                <div class="row" style="width: 100%;margin: 0px;">
                                                    <div class="col" style="padding: 0;">{{ form_widget(form.correct_answer, {'attr': {'class':'rTextArea', 'placeholder':'Enter Answer Here', 'style':'width: 100%;height: 60px;padding: 5px;padding-left: 8px;color: rgb(232,232,232);font-family: Roboto, sans-serif;background-color: transparent;max-height: 80px;'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 15px;">
                                        <div class="col answerRiddleCardItem" style="padding: 0px;margin-right: 10px;">
                                            <div data-bs-parallax-bg="true" id="chooseColour" style="padding-top: 20px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);">
                                                <h6 class="text-light" style="margin-top: -10px;font-family: Roboto, sans-serif;margin-left: 5px;">Colour</h6>
                                                <div class="row" style="width: 100%;margin: 0px;">
                                                    <div class="col" style="padding: 0;height: 10vh;">
                                                        <div id="riddleSelectedColourBtn" class="riddleItem" style="background-color: #e17055;border-radius: 10px;height: 10vh;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col answerRiddleCardItem" style="padding: 0px;margin-left: 10px;">
                                            <div data-bs-parallax-bg="true" id="chooseIcon" style="padding-top: 20px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);">
                                                <h6 class="text-light" style="margin-top: -10px;font-family: Roboto, sans-serif;margin-left: 5px;">Icon</h6>
                                                <div class="row" style="width: 100%;margin: 0px;">
                                                    <div class="col riddleItem" style="padding: 0;height: 10vh;"><img id="riddleSelectedIconBtn" class="d-table m-auto" src="../assets/img/monkey.svg" height="100%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="margin: 15px;margin-top: 65px;">{{ form_widget(form.submitCreateRiddle, {'attr': {'class':'btn btn-light btn-block btn-lg answerBtn riddleItem', 'style':'height: 50px;font-family: Quicksand, sans-serif;font-weight: 700;width: 100%;padding-top: 8px;'}}) }}
                                </div>
                                {{ form_widget(form.profileId, {'attr': {'style':'display: none;'}}) }}
                                {{ form_widget(form.colour, {'attr': {'value':'#e17055'}}) }}
                                {{ form_widget(form.icon, {'attr': {'value':'monkey'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                        {% for riddle in riddles %}
                        <div id="{{ riddle.id }}" class="invisible">
                            <div class="row d-lg-none backBlock" style="height: 60px;">
                                <div class="col-2 thumbsHover" style="margin: 0;padding-top: 10px;padding-left: 25px;"><i class="la la-chevron-circle-left d-table closeAnswersIcon" style="font-size: 36px;color: #dfe6e9;margin: auto;"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-none d-lg-block mx-auto" style="padding-top: 5px;padding-bottom: 10px;margin-bottom: 10px;">
                                    <h1 class="text-center text-white" style="font-family: Quicksand, sans-serif;font-weight: 300;font-size: 30px;margin-top: 10px;">Answers</h1>
                                </div>
                                <div class="col-12">
                                    <div class="row" style="margin-left: 0;margin-right: 0;">
                                        <div class="col-12 riddleStateCard" style="padding: 0px; border-color:{{ riddle.colour }}">
                                            <div data-bs-parallax-bg="true" style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 130px;">
                                                <h6 class="text-light" style="margin-top: -10px;font-family: Roboto, sans-serif;margin-left: 5px;">Riddle</h6>
                                                <div class="row" style="width: 100%;margin: 0px;">
                                                    <div class="col-12" style="padding-top: 15px;padding-bottom: 20px;padding-left: 10px;padding-right: 10px;margin-top: -10px;">
                                                        <h4 class="text-center text-white riddleTextScroll" style="font-family: Quicksand, sans-serif;font-size: 20px;max-height: 88px;">{{ riddle.question }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 15px;">
                                        <div class="col-12 answerRiddleCardItem" style="padding: 0px;">
                                            <div data-bs-parallax-bg="true" style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;background-position: center;background-size: cover;background-image: url(assets/img/background_pattern.svg);max-height: 125px;">
                                                <h6 class="text-light" style="margin-top: -10px;font-family: Roboto, sans-serif;margin-left: 5px;">Answer</h6>
                                                <div class="row" style="width: 100%;margin: 0px;">
                                                    <div class="col-12" style="padding-top: 15px;padding-bottom: 20px;padding-left: 10px;padding-right: 10px;margin-top: -10px;">
                                                        <h4 class="text-center text-white riddleTextScroll" style="font-family: Quicksand, sans-serif;font-size: 20px;max-height: 78px;">{{ riddle.correctAnswer }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 15px;">
                                        <div class="col-auto mx-auto">
                                            <h2 class="text-center text-white d-inline" style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 22px;margin-top: 10px;margin-right: 10px;">Pending</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row overflowHidden" style="margin-bottom: 20px;margin-left: 0;margin-right: 0;min-height: 70vh; max-height: 70vh;padding-bottom: 30vh;">
                                {% for answer in answers %}
                                {% if riddle.id == answer.riddleId.id %}
                                <div class="col-12 mx-auto" style="padding-top: 5px;padding-bottom: 5px;padding-left: 0;padding-right: 0;">
                                    <div class="riddleCard" style="padding: 18px;background-color: #1c1f21;">
                                        <div class="row">
                                            <div class="col-auto" style="padding-right: 5px;">
                                                <p style="color: #b2bec3;font-size: 12px;font-weight: 300;">{{ answer.time }}</p>
                                            </div>
                                            <div class="col" style="padding-left: 0px;">
                                                <p class="text-truncate" style="color: #b2bec3;font-size: 12px;font-weight: 500;">{{ answer.profileId.name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-white">{{ answer.answerTxt }}</p>
                                            </div>
                                        </div>
                                        <div class="row" style="width: 100%;margin: 0px;margin-bottom: 5px;">
                                            <div value="{{ answer.id }}" class="col-auto thumbsHover answerCorrect" style="padding-right: 20px;padding-left: 5px;">
                                                <div class="mx-auto filterBtns" style="background-color: #55efc4;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-check d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                            </div>
                                            <div value="{{ answer.id }}" class="col-auto thumbsHover answerIncorrect" style="padding-right: 20px;padding-left: 5px;">
                                                <div class="mx-auto filterBtns" style="background-color: #ff7675;width: 55px;height: 55px;padding-top: 13px;"><i class="la la-close d-table mx-auto" style="font-size: 28px;color: black;"></i></div>
                                            </div>
                                            <div class="col"></div>
                                            <div class="col-auto thumbsHover" style="padding-right: 15px;padding-left: 5px;"><i class="la la-exclamation-circle" style="color: rgba(255,255,255,0.65);font-size: 28px;margin-top: 20px;"></i></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}  
                            </div>
                        </div>
                        <div class="d-none d-lg-block visible">
                            <p class="text-center text-white-50" style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;margin-top: 45vh;">select a riddle</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="../assets/js/myRiddles.js"></script>
    <script src="../assets/js/AJAX.js"></script>
{% endblock %}